
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .header, .footer {
            background-color: #ddd;
            text-align: center;
            padding: 20px;
        }
        .header h1 {
            margin: 0;
        }
        .main {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        .sidebar, .content, .about {
            padding: 15px;
        }
        .sidebar {
            width: 20%;
            background-color: #eee;
            text-align: center;
        }
        .link-item{

            background-color:#eee;
            text-align: center;
            padding:1px;
        
        }
        .link-item a{

            color: #000;
            text-decoration: underline;
        }
        .content {
            width: 60%;
            background-color: #fff;
        }
        .about {
            width: 20%;
            background-color: #eee;
        }
        .footer {  background-color: #ddd;
            padding: 10px;
            text-align: center;
        }
        .sidebar a {
            display: block;
            padding: 8px;
            color: #000;
            text-decoration: none;
        }
        .sidebar a:hover {
            background-color: #ccc;
        }
 